---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Bonaccorsi Site</title>
	</head>
	<body>
<a href="/">Home</a>
		<h1>1 - Initial Install</h1>
        <h2>going to try this again... but with a reason</h2>
        <p>will attempt to capture my self-instructions to run linux at home</p>
	</body>
</html>
