---
// no special code here, except for turning list of values into bullet list

import type { Code } from 'astro:components';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const skills = ["Copy-paste web coding", "Excel spreadsheets", "switching to Linux", "Changing Spark Plugs", "cutting hair for 5 of 6 family members",
				"amazing spreadsheets", "building PCs", "home networking", "trimming trees", "spectacular spreadsheets"];


---
<style>
	.skill {
	  color: blue;
	  font-weight: bold;
	  text-transform: uppercase;
		}
</style>


<BaseLayout pageTitle={pageTitle}>
	
	
        <h2>...decided to make a website... for reasons.</h2>
        <p>When videos games just don't cut it... start learning code?</p>
		<br>

		<h3>Here are a few facts about me:</h3>
		<ul>
  			<li>My name is Craig.</li>
  			<li>I live in USA and am employed as an Engineer.</li>
  			<li>My hobbies are: couch sitting, gaming, and having so many kids</li>
		</ul>
		
		<h3>My random list of skills are:</h3>
			<ul>
  			{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>

		<br>
		<p><em><b>I finished this Astro tutorial! <br>
			This is the guide I followed for the basic structure:
			<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog </a>
			<br>And then I made it my site.
			</em></b>
		</p>
		

	
</BaseLayout>
