---
// no special code here, except for turning list of values into bullet list

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const skills = ["HTML", "CSS", "Excel", "Linux", "Astro", "Writing Docs"];


---
<style>
	.skill {
	  color: blue;
	  font-weight: bold;
	  text-transform: uppercase;
		}
</style>


<BaseLayout pageTitle={pageTitle}>
	
	
        <h2>...going to try this again... but with a reason</h2>
        <p>will attempt to capture my self-instructions to run linux at home</p>
		<br>

		<p>Here are a few facts about me:</p>
		<ul>
  			<li>My name is Craig.</li>
  			<li>I live in USA and I work as an Engineer.</li>
  			<li>My hobbies are: "photography", "gaming", and "having so many kids"</li>
		</ul>

		<p>My skills are:</p>
			<ul>
  			{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>

		<br>
		<p>I finished this tutorial!</p>
		

	
</BaseLayout>
