---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Bibliography: References & Sources";


---

<BaseLayout pageTitle={pageTitle}>
	
<h2>The internet provided the learnings I needed, and here are key places that deserve credit.</h2><br>

<h3>To make the website:</h3>
	<ul>

	<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog Tutorial </a><br>
	<a href= https://vscodium.com/ > VSCodium website </a><br>
	<a href= https://timneubauer.dev/blog/copy-code-button-in-astro/ > very amazing copy-button code for commands </a><br>
	<a href= https://www.w3schools.io/file/markdown-introduction/ > markdown page guide </a><br>
	</ul>	

<h3>To learn GNU/Linux:</h3>
	<ul>

	<a href= https://pop.system76.com/ > System76 Pop!_OS </a><br>
	<a href= https://www.reddit.com/r/Remmina/comments/p2anop/allow_initial_connection_to_retry_while_awaiting/ > Getting Remmina to wake the other PC</a><br>
	<a href= https://www.techjunkie.com/automatically-mount-network-shares-linux/ > how to auto-mount sharedrives on boot </a><br>
	<a href= https://askubuntu.com/questions/671831/mount-samba-share-allowing-users-to-read-write > auto-mount sharedrives with working permissions </a><br>
	<a href= https://forum.rclone.org/t/what-are-the-optimal-settings-for-big-sync-job/12945/7 > RCLONE optimum settings </a><br>
	<a href= https://www.digitalocean.com/community/tutorials/how-to-set-up-a-firewall-with-ufw-on-debian-10 > UFW firewall settings </a><br>
	<a href= https://www.serveracademy.com/courses/linux-fundamentals/updating-and-configuring-needrestart/ > Auto-update and needrestart setup </a><br>
	<a href= https://linuxsimply.com/linux-basics/package-management/update-packages/sudo-apt-update/ > additional auto-update settings </a><br>
	<a href= https://www.digitalocean.com/community/tutorials/how-to-enable-remote-desktop-protocol-using-xrdp-on-ubuntu-22-04 > remote desktop setup </a><br>
	<a href= https://forums.unraid.net/topic/53133-share-in-windows-quotsize-vs-size-on-diskquot-massive-difference-question/ > fix filesize appearance on samba </a><br>

	</ul>	


<h3>THE TERRIBLE JOURNEY OF GETTING GIGABYTE SLEEPY</h3>
	
	<ul>
	<a href= https://www.reddit.com/r/pop_os/comments/13uxqhp/suspend_is_not_working/?rdt=62627 > Checking why suspend not working </a><br>
	<a href= https://askubuntu.com/questions/1355817/ubuntu-20-04-suspend-does-not-work > Troubleshooting failed suspend </a><br>
	<a href= https://askubuntu.com/questions/1044901/how-do-i-tell-whats-preventing-sleep-on-ubuntu-my-box-wont-sleep-automaticall/1226609#1226609 > how to list what prevents sleep </a><br>
	<a href= https://unix.stackexchange.com/questions/417956/make-changes-to-proc-acpi-wakeup-permanent > make permanent boot settings to sleep devices as root </a><br>
	<a href= https://superuser.com/questions/1403601/systemd-service-permission-denied > tracking error message from suspend logs </a><br>
	<a href= https://wiki.archlinux.org/title/Power_management/Wakeup_triggers > the actual random place that told me about Gigabyte GPP issue!! </a><br>
	</ul>	


</BaseLayout>
