---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Bibliography: References & Sources";


---



<BaseLayout pageTitle={pageTitle}>
	
	
<h2>The internet provided the learnings I needed, and here are key places that deserve credit.</h2><br>

<h3>To make the website:</h3>
	<ul>
	This is the guide I followed for the basic structure: <br>
	<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog </a><br><br>

	This is the guide I followed for the basic structure: <br>
	<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog </a><br><br>
	</ul>	

<h3>To make the website:</h3>
	<ul>
	This is the guide I followed for the basic structure: <br>
	<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog </a><br><br>

	This is the guide I followed for the basic structure: <br>
	<a href= https://docs.astro.build/en/tutorial/0-introduction/ > Build your first Astro Blog </a><br><br>
	</ul>	

</BaseLayout>
