---
// main homepage. just has a little greeting button

import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Bonaccorsi Home";
---

<BaseLayout pageTitle={pageTitle}>
  
	<h2>My awesome subtitle</h2>
	<br>
	
	<Greeting client:load messages={["Dexter", "Oliver", "Spencer", "Amber"]} />

</BaseLayout>