---
// main homepage. just has a little greeting button

import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Bonaccorsi Homepage";
---


<BaseLayout pageTitle={pageTitle}>
  
	<h2>Welcome to my site. This is my awesome subtitle.</h2>
	<p>Journey began Nov, 2023</p>
	<br>
	
	<h2>
	<a href="/memoirs/"><img src=dad1.jpg height="100"/></a>
	<a href="/memoirs/"><img src=dad2.jpg height="100"/></a><br>
	<a href="/memoirs/">Go to Anthony Bonaccorsi Memoirs</a><br>
	<a href="/memoirs/"><img src=dad3.jpg height="100"/></a>
	<a href="/memoirs/"><img src=dad4.jpg height="100"/></a>
	</h2>

	

	<br><br>
	**********************************************
	<br><br>
	
	<Greeting client:load messages={["Dexter", "Oliver", "Spencer", "Amber", "ALLOFTHEM"]} />
	
</BaseLayout>