---
// main homepage. just has a little greeting button

import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';

const pageTitle = "Bonaccorsi Homepage";
---


<BaseLayout pageTitle={pageTitle}>
  
	<h2>Welcome to my site. This is my awesome subtitle.</h2>
	<p>Journey began Nov, 2023</p>
	<br><br>
	
	<Greeting client:load messages={["Dexter", "Oliver", "Spencer", "Amber", "ALLOFTHEM"]} />
	
</BaseLayout>