---

import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "THE MEMOIRS OF TONY BONACCORSI";


---

<BaseLayout pageTitle={pageTitle}>
	
<h2><i>A short autobiography of the life, times, & family of Tony Bonaccorsi</i></h2>
Note: mobile or small screens may just open PDF to page one on any link.<br>
Desktop/large screen should open PDF to listed page in table of contents.<br>
<a href="/ASBmemoirs1a.pdf" download>Direct Download of Memoirs</a></li> and
<a href="/ASBmemoirs1a.pdf" download>Photos-part1</a></li> and
<a href="/ASBmemoirs1a.pdf" download>Photos-part2</a></li>
<h2>Table of Contents:</h2>


<ul>
	<li>INTROS</li>
		<ul>
		<li><a href="/ASBmemoirs1a.pdf#page=1">1 - COVER PAGE</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=5">5 - PREFACE</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=8">8 - HISTORY OF SICILY</a></li>
		</ul>
	<li>PART ONE - SETTING THE FOUNDATION</li>
		<ul>
		<li><a href="/ASBmemoirs1a.pdf#page=17">17 - The Beginning: Gugliottas & Bonaccorsis</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=37">37 - The Marriage of Mom & Dad</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=43">43 - Extended Family</a></li>
		</ul>
	<li>PART TWO - YOUNGER YEARS & GROWING UP</li>
		<ul>
		<li><a href="/ASBmemoirs1a.pdf#page=57">57 - My Early Years</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=73">73 - Special Memories, Interests, & Favorites</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=88">88 - Earning a Living</a></li>
		</ul>
	<li>PART THREE - MIA FAMIGLIA --MY FAMILY</li>
		<ul>
		<li><a href="/ASBmemoirs1a.pdf#page=96">96 - Our Marriage</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=103">103 - Children</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=108">108 - Grandchildren</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=111">111 - <i>"That Day in History"</i></a></li>
		</ul>
	<li>APPENDICES</li>
		<ul>
		<li><a href="/ASBmemoirs1a.pdf#page=119">119 - AFTERWORD</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=123">123 - ACKNOWLEDGEMENTS & GRATITUDE</a></li>
		<li><a href="/ASBmemoirs2a.pdf#page=1">125 - PHOTOGRAPHS - part1 (split due to filesize)</a></li>
		<li><a href="/ASBmemoirs2b.pdf#page=1">140 - PHOTOGRAPHS - part2 (split due to filesize)</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=125">155 - FAMILY TREES</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=132">162 - SPECIAL TRIBUTE</a></li>
		<li><a href="/ASBmemoirs1a.pdf#page=133">163 - BIBLIOGRAPHY & SOURCES</a></li>
		</ul>
</ul>





</BaseLayout>
