---
// makes the website/social links at the footer

---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 3rem;
    }
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
</style>


<footer>
  
  <a href= https://github.com/CraigeryTheKid > craigery github </a>
  <a href= https://www.github.com/withastro > astro github </a>
  <a href= https://www.youtube.com/astrodotbuild > astro youtube </a>

</footer>

